[submodule "restapi/external/libpqxx"]
	path = restapi/external/libpqxx
	url = https://github.com/jtv/libpqxx.git
[submodule "restapi/external/Crow"]
	path = restapi/external/Crow
	url = https://github.com/CrowCpp/Crow.git
[submodule "restapi/external/jwt-cpp"]
	path = restapi/external/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp.git

